@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Inter", "Open-Sans", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #ededed;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #989595;
  border-radius: 12px;
}

.container-x-scroll::-webkit-scrollbar {
  @apply h-1;
}

.container-x-scroll::-webkit-scrollbar-track,
.container-y-scroll::-webkit-scrollbar-track {
  @apply rounded-xl bg-primary-300;
}

.container-x-scroll::-webkit-scrollbar-thumb {
  @apply rounded-xl h-1 bg-neutral-white80 ;
}

.container-x-scroll:hover::-webkit-scrollbar-thumb,
.container-y-scroll:hover::-webkit-scrollbar-thumb {
  @apply bg-neutral-white;
}

.container-x-scroll{
  @apply overflow-x-auto;
}

.container-y-scroll{
  @apply overflow-hidden lg:overflow-y-auto;
}

.container-y-scroll::-webkit-scrollbar {
  @apply w-1;
}

.container-y-scroll::-webkit-scrollbar-thumb {
  @apply rounded-xl w-1 bg-neutral-white80 ;
}

.box-container {
  background: radial-gradient(circle, #162850 0%, #121A2D 100%);
  @apply rounded-xl p-6;
}
.box-container-blur {
  @apply bg-black/30 rounded-xl p-6;
}

input {
  outline: transparent;
  @apply outline-transparent;
}
.days-forecast-icon,
.today-forecast-icon{
  @apply [&_svg]:text-2xl text-neutral-white80;
}
